.app {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.todo-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 10px;
}

.todo-list li {
  display: flex;
  justify-content: center;
}
.todo-list li span {
  flex-grow: 1;
  text-align: center;
}

.tasks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pending,
.completed {
  border: 1px black solid;
  padding: 20px;
  background-color: lightgrey;
  width: 100%;
}

.tasks li {
  background-color: beige;
  list-style-type: none;
  padding: 10px;
}

[contenteditable] {
  outline: 1px solid #ccc;
}

.input {
  margin-bottom: 10px;
  border: 1px black solid;
  padding: 10px;
}

.submit-btn {
  background-color: #008cba;
  padding: 10px;
  color: white;
  margin-bottom: 10px;
}

.delete-btn {
  background-color: #c94c4c;
}

.edit-btn {
  background-color: #008cba;
}

.move-btn {
  background-color: #4caf50;
}
